*{
    box-sizing: border-box;
}


button{
    display: block;
    margin: auto;
    margin-top: 30px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    
}
.gridMember{
    background-color: black;
    border: 2px solid rgb(121, 109, 39);
    
    width: 10%;
    height: 10%;
}

.container{
    background-color: black;
    display: flex;
    flex-wrap: wrap;

    margin: auto;
    margin-top: 50px;
}

